<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-first order-lg-first mb-3 mb-lg-0 footer-links">
        <ul class="list-inline mb-0">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-lg-6 order-last order-lg-last footer-thanks">
        <ul class="list-inline mb-0">
          <li class="list-inline-item thanks"> {{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
