
name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: ['20', '22', '24']

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Hugo
      uses: peaceiris/actions-hugo@v3.0.0
      with:
        hugo-version: '0.123.8'
        extended: true

    - name: Check install Hugo
      run: hugo version

    - name: Install dependencies
      run: npm ci

    - name: Check for linting errors
      run: npm test

    - name: Delete temporary directories
      run: npm run clean

    - name: Build production website
      run: npm run build
